rvm:
  - 2.0
  - 2.1
  - 2.2
  - 2.3
  - 2.4
  - 2.5
  - ruby-head

script:
  - bundle exec ruby -S rake

sudo: false

matrix:
  allow_failures:
    - rvm: ruby-head

notifications:
  irc: "irc.freenode.org#s-pry-plugins"

branches:
  only:
    - master
